body {
        background-image: url("white.jpg");
        text-align: left;
        font-family: verdana;
    }
#equipment{
        color: mediumpurple;
        text-align: left;
    }
.content{
        color: mediumpurple;
    }
h3{
        text-align: left;    
    }
h1{
    text-align: center
    }
h2{
    text-align: left
    }
h4{
    text-align: center
}
